rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true; // Just for dev to unblock, will harden later if requested
    }
  }
}
